.home {
  min-height: 657px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .top-line {
    padding-top: 30px;
    min-height: 100px;
    background-image: url(../../img/gradient.png);
    background-repeat: repeat-x;
    border-bottom: $gray 1px solid ;
  }

  .main-menu {
    font-size: 15px;
    padding-left: 50px;
    padding-top: 10px;
    li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px;
      a {
        color: $white;
        text-decoration: none;
      }
    &.active, &:hover {
      a {
        color: $graymenu;
        border-bottom: $gray 1px solid;
      }
    }
    }
  }

  .toggle-menu {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 48px;
    width: 28px;
    height: 28px;
    margin: 22px 10px 0;
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $white;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
      &:after {
        top: 9px;
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
        width: 100%;
        height: 3px;
        background-color: $white;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
      }
    }
    &.on {
      span {
        background-color: transparent;
        &:before {
          transform: rotate(45deg) translate(5px, 5px);
        }
        &:after {
          transform: rotate(-45deg) translate(7px, -8px);
        }
      }
    }
  }

  .content-wrap {
    margin-top: 50px;
  }

  .adventure-img {
    position: absolute;
    top: 46px;
    left: 0;
  }

  .adventure-button {
    position: absolute;
    top: 235px;
    left: 0;
  }

  .linear-button {
    position: relative;
    top: 20px;
    right: 2px;
    width: 350px;
  }

}
@media only screen and (max-width : 992px) {
  .home {
    .main-menu {
      display: none;
      float: right;
      text-align: right;
      background-color: $black1;
      margin-top: 10px;
      border-bottom: $dark 4px solid;
      border-top: $navy-blue 4px solid;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000;
      ul{
        padding: 0;
      }
      li{
        display: block;
        line-height: 0;
        padding: 0;
      }
      a {
        display: block;
        line-height: 48px;
        padding: 0 20px;
        background-color: $black1;
        font-size: 18px;
        transition: all .5s ease;
        &:hover {
          background-color: $violet;
          transition: all .5s ease;
        }
      }
    }
  }


}

@import "../../style/media";