@import "template";

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: "MuseoSansCyrl-100", sans-serif;
  overflow-x: hidden;
}

.button {
  color: $white;
  background-color: $black-button;
  font-size: 15px;
  padding: 12px 12px;
  transition: background-color .25s ease;
  font-family: "MuseoSansCyrl-700", sans-serif;
  &:hover {
    color: $white;
    text-decoration: none;
    background-color: lighten($black-button, 12%);
  }
  &:active {
    background-color: lighten($black-button, 10%);
  }
}

.p-0 {
  padding: 0;
}

.hidden {
  display: none;
}

.d-block {
  display: block;
}

.i-block {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

stong, b {
  font-family: "RobotoBold", sans-serif;
  font-weight: normal;
}

.mm-menu {
    z-index: 1010;
  .fa {
    display: none;
  }
}

h1 , h2 , h3 , h4 , h5 , h6, .button {
  font-family: "RobotoCondensedBold";
  font-weight: normal;
  text-transform: uppercase;
}

